.loader {
  display: block;
  margin: 10px auto;
  width: 48px;
  height: 48px;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 48px;
    height: 48px;

    position: absolute;
    left: 0;
    top: 0;

    border-radius: 50%;
    border: 2px solid #1890ff;

    animation: loading 2s linear infinite;
    box-sizing: border-box;
  }

  &::after {
    animation-delay: 1s;
  }
}

@keyframes loading {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
