.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 380px;
  margin: 60px auto;
  padding: 50px 35px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  box-sizing: border-box;

  &--article {
    max-width: 940px;
  }
}

.title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.form {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.label {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 22px;
}

.input {
  min-height: 40px;
  width: 100%;
  margin-bottom: 2px;
  padding: 8px 12px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;

  &::placeholder {
    color: #bfbfbf;
  }

  &--error {
    border: 1px solid #f5222d;
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 15px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  background: #1890ff;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: #1890ff;
    background: #ffffff;
    border-color: #1890ff;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--send {
    width: 50%;
    max-width: 320px;
    margin-top: 20px;
  }

  &--delete {
    max-width: 120px;
    margin: 0 15px 0 0;
    color: #f5222d;
    border: 1px solid #f5222d;
    background: #ffffff;

    &:hover {
      color: #ffffff;
      background: #f5222d;
      border-color: #f5222d;
    }
  }

  &--add {
    max-width: 120px;
    max-height: 40px;
    margin-bottom: 5px;

    color: #1890ff;
    border: 1px solid #1890ff;
    background: #ffffff;

    &:hover {
      color: #ffffff;
      background: #1890ff;
    }
  }
}

.tags {
  display: flex;
  align-items: flex-end;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      gap: 15px;
      max-height: 40px;
      min-width: 300px;
      margin-bottom: 5px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.agreement {
  display: flex;
  align-items: flex-start;
  margin: 30px 0 10px;
  position: relative;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  cursor: pointer;

  &::before {
    content: '';
    top: -10px;
    position: absolute;
    width: 320px;
    height: 1px;
    background: #e8e8e8;
  }

  input {
    cursor: pointer;
  }
}

.footer {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #8c8c8c;

  a {
    color: #1890ff;
    text-decoration: none;
  }
}

.error {
  p {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #f5222d;
  }
}
