.item {
  display: flex;
  justify-content: space-between;

  max-height: 140px;
  padding: 15px;

  background: #ffffff;
  border-radius: 5px;
}

.section {
  width: 70%;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  margin: 0 15px 0 0;
  font-size: 20px;
  font-weight: 400;

  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;

  a {
    text-decoration: none;
    color: #1890ff;
  }
}

.text {
  margin: 0;
  font-size: 12px;
  line-height: 22px;
  max-height: 84px;

  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-break: break-all;
}

.user {
  display: grid;
  grid-template-areas:
    'text img'
    'btns btns';
  margin-left: 10px;

  &__info {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.avatar {
  grid-area: img;
  width: 46px;
  height: 46px;
  margin-left: 10px;
  border-radius: 50%;
}

.date {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.tags {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin-bottom: 5px;
  list-style: none;

  li span {
    max-width: 150px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.btns {
  grid-area: btns;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.btn {
  min-width: 78px;
  padding: 6px 18px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #52c41a;

  background: #ffffff;
  border: 1px solid #52c41a;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #ffffff;
    background: #52c41a;
  }

  &--delete {
    margin-right: 12px;
    color: #f5222d;
    border-color: #f5222d;

    &:hover {
      color: #ffffff;
      background: #f5222d;
      border-color: #f5222d;
    }
  }
}
